.order-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right: 5px;
  gap: 20px;

}


.svg-a {
  background: #ffffff;
  border: 2px solid #e2e2e2;
  border-radius: 10px;
  width: 89%;
  height: 100%;
  margin-left: 85px;
  margin-top: 40px;
}
.ordered-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.order-label {
  margin-left: 30px;
  padding: 10px;
}

.ordered-item {
  color: gray;
  font-weight: bold;

  border-radius: 15px;


}


.messages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;

}

.order-value {
  font-size: 18px;
  color: black;
  display: flex;
  line-height: 21px;
}


.svg-b {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;

}

.details {
  color: gray;
  font-size: 17px;
  font: SF Pro Display;
  line-height: 20px;
}
