body {
  font-family: 'SF Pro Display', sans-serif;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}


.content-container {
  border: 0 solid #ccc;
  box-sizing: border-box;
}

.left-sidebar {
  flex: 0 0 85px;
  height: 100vh;
}

.sidebar-container {
  flex: 0 0 239px;
  background-color: #e7e7e7;
}

.content-container {
  flex: 1;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1700px) {
  .left-sidebar {
    flex: 0 0 0;
    display: none;
  }

  .sidebar-container {
    flex: 0 0 100%;
  }

  .content-container {

    margin-left: 250px;

  }
}
