.custom-header {


  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 42px;
}



.custom-header-1
{

   font-size: 18px;
   font-weight: 500;
   line-height: 36px;
   letter-spacing: 0em;
   text-align: left;
   margin-left: 36px;

}

.hr-item{
  border-top: 1px solid black;
  margin: 12px 80px 0 30px;
  margin-left: 90px;
  width: 1340px
 }
 .move-button{
  margin-left: 950px;
  width:169px ;
  height: 42px;
  top:115px
  }

  .first-e{
    margin-left: 80px
  }

  .show-orders{
    background: #f7f7f7; border: 1px solid #ccc; padding: 10px; border-radius: 5px; margin-bottom: 10px; margin-top: 10px; margin-left: 75px; width: 232px; height: 50px; display: flex; align-items: center;
  }

  @media (max-width: 1720px) {
    .custom-header {
      font-size: 20px;
      margin-left: 20px;
    }

    .custom-header-1 {
      font-size: 16px;
      margin-left: 10px;
    }

    .move-button {
      margin-left: 20px;
      margin-top: 14px;
    }

    .hr-item {
      margin-left: -55px;
      width: 100%;
    }

    .first-e {
      margin-left:  -55px;
    }

    .show-orders {
      margin-left:  -55px;
    }


    .order-1 {
      .svg-a {
        background: #ffffff;
        border: 2px solid #e2e2e2;
        border-radius: 10px;
        width: 100%;
        height: 100%;
        margin-left: -55px;
        margin-top: 40px;
      }
    }
  }
