<div class="left-sidebar">
  <div class="svg-container">

    <img src="assets/Frame.svg" alt="svg-11" width="60" height="60" style="margin-top: 1px; margin-left: 1px; margin-bottom: 45px;">
    <img src="assets/Frame -2.svg" alt="svg-11" width="30"height="30" style="margin-top: 1px; margin-left:1px; margin-bottom:45px">
    <img src="assets/Frame-3.svg" alt="svg-11" width="30"height="30" style="margin-top: 1px; margin-left:1px; margin-bottom:45px">
    <img src="assets/Frame-4.svg" alt="svg-11" width="30"height="30" style="margin-top: 1px; margin-left:1px; margin-bottom:45px">
</div>
</div>
