
.left-sidebar {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #cacaca;
  width: 14%;
  height: 100vh;
  overflow-y: auto;
}

.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 11px;
  margin-top: 14px;
}


.svg-container svg:not(:first-child) {
  width: 30px;
  height: 30px;
  margin-bottom: 50px;
}

