* {
  font-weight: 500;
  box-sizing: border-box;
}

.navinput {
  color: gray;

}

.order-page {
  width: 800px;
  padding: 20px;
  margin-left: 60px
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

}

.custom-style {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-border {
  border: 1px solid red;
}

.custom-message {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
}

.delivery {
  background: #f7f7f7;
  border: 1px solid #ebe7e7;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  min-width: 600px;
  height: 200px;
  flex: 1;
}


.totalamount1 {
  background: #f7f7f7;
  border: 1px solid #ebe7e7;
  padding: 20px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  min-width: 300px;
  height: 70px;
  flex: 1;

}

.d-1 {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

#create-right {
  display: flex;
}

.custom-s1 {

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
}

#greenbutton {
  background: #0dc74e;
  margin-right: 50px;
  width: 270px
}

#graybutton {
  background: transparent;
  border-color: #6c757d;
  color: #6c757d;
  width: 270px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  margin-left: -260px;
  height: 50px;
}

#buttons-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 10px;
  margin-right: 190px;
  height: 50px;
}

.order-items1 {
  margin-top: 15px;
  width: 730px;
  border-radius: 5px;
  width: 100%;

}

.create-order-page {
  font-size: 25px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 22px;
}

.delivery-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.addorder1 {
  width: 40%;
  height: 63px;
  margin-right: -155px;
  background: #2a71fa;
  color: white;
}

.circle {
  border: 2px solid #0b69ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 1px 8px;
  height: 25px;
}

.decrease {
  width: 15px;
  height: 15px;
  font-weight: 400;
  font-size: large;
  margin-top: 6px;
}

.increase {
  width: 15px;
  font-weight: 400;
  font-size: large;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
}

.selected-items {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  margin-left: -20px;
}

.input-nc {
  height: 50px;
  width: 100%;
  font-weight: 440
}

@media (max-width: 1700px) {


  .create-order {
    width: 300px;
    margin-left: calc(50% - 400px);
    flex: 1;
  }

  .delivery,
  .totalamount1 {
    margin-left: calc(50% - 460px);
    flex: 1;
    width: 300px;
    height: auto;
  }

  .delivery {
    min-width: 200px;
  }

  .order-items1 {
    width: 200px;
  }

  .buttons-2 {
    margin-top: 20px;
    align-self: flex-start;
    height: auto;
    margin-left: -490px;
    width: 250px;
  }

  #greenbutton {
    margin-right: -200px;
    width: 140px;
  }

  #graybutton {

    width: 140px;
  }
}

@media (min-width: 1201px) {

  .delivery,
  .totalamount1 {
    min-width: 300px;
    width: auto;
  }

  .delivery {
    height: 200px;
    width: 550px;
  }

  .totalamount1 {
    height: 70px;
    width: 550px;
  }

  .order-items1 {
    width: 730px;
  }

  .buttons {
    max-width: 400px;
    margin-right: -200px;
  }
}
