.sidebar {
  display: flex;
  border: 0 solid #ccc;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #e7e7e7;
  width: 17%;
  height: 100%;
  top: 0;
  position: fixed;
  margin-left: 85px;

}

.sidebar-header1 {
  margin: 20px auto;
  text-align: center;
  margin-left: 29px;
  font-size: 30px;
  margin-top: 36px;
  font-weight: 500;

}

.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 29px;
  font-size: 18px;
  color: black;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;

}

a {
  text-decoration: none;
  color: black;
}

a.activeClicked {
  color: #007bff;
}

